.form {
    position: relative;
    vertical-align: top;
    width: 100%;
    overflow: hidden;
}

.form fieldset {
    border: none;
    padding: 0;
}

.form label {
    display: block;
    float: left;
    padding-top: 3px;
    padding-right: 6px;
}

.form input {
    border: 1px solid #dededa;
    color: #a5a4a4;
    font: italic 11px Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    margin: 0 6px 0 0;
    padding: 4px 10px 5px 10px;
    outline: none;
    width: 177px;
    float: left;
}

.form a {
    display: block;
    float: right;
}

.left {
    float: left;
}

.right {
    float: right;
}

#login {
    width: 630px;
    float: right;
    padding-right: 45px;
}

#login .error {
    text-align: right;
    padding-top: 5px;
    color: red;
}

/***** contact form *****/
#contact-form {
    position: relative;
    vertical-align: top;
    width: 100%;
    z-index: 1;
}

#contact-form fieldset {
    border: none;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

#contact-form label {
    display: block;
    min-height: 45px;
    position: relative;
}

#contact-form .message {
    min-height: 240px;
}

#contact-form input, #contact-form textarea {
    padding: 10px;
    margin: 0;
    font: 13px Arial, Helvetica, sans-serif;
    color: #7d7d7d;
    background: #fff;
    outline: none;
    border: 1px solid #e1e1e1;
    width: 368px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

#contact-form .area .error {
    float: none;
}

#contact-form textarea {
    width: 528px;
    height: 197px;
    overflow: auto;
    resize: none;
}

#contact-form .success {
    display: none;
    margin-bottom: 20px;
}

#contact-form .error,
#contact-form .empty {
    color: #f00;
    font-size: 11px;
    line-height: 1.27em;
    display: none;
    overflow: hidden;
    margin-bottom: 5px;
}

.buttons-wrapper {
    text-align: right;
    position: relative;
}

.buttons-wrapper a {
    cursor: pointer;
    padding: 4px 15px 5px;
    margin-left: 16px;
}

.buttons-wrapper a:first-child {
    margin-left: 0px !important;
    padding: 4px 20px 5px;
}

@media only screen and (max-width: 995px) {
    /* subscribe form */
    #subs-form input {
        background-image: none;
        padding: 5px 10px;
        width: 150px;
    }

    #subs-form a {
        padding: 4px 10px 6px;
    }

    /* contect form*/
    #contact-form .message {
        min-height: 230px;
    }

    #contact-form input, #contact-form textarea {
        width: 416px;
    }

    .buttons-wrapper a {
        margin-left: 8px;
    }
}

@media only screen and (max-width: 767px) {
    /* subscribe form */
    #subs-form input {
        background-image: url(../images/subs-input-bg.jpg);
        padding: 5px 10px 5px 30px;
        width: 260px;
    }

    #subs-form a {
        padding: 4px 25px 6px;
    }

    /* contect form*/
    #contact-form input, #contact-form textarea {
        width: 398px;
    }

    #login-container {
        padding-bottom: 90px;
    }

    #login {
        width: 230px;
        float: left;
    }

    #login-button {
        margin-top: 5px;
        float: left;
    }

    #login .error {
        text-align: left;
        padding-top: 5px;
        color: red;
    }
}

@media only screen and (max-width: 479px) {
    /* subscribe form */
    #subs-form input {
        width: 145px;
    }

    #subs-form a {
        padding: 4px 15px 6px;
    }

    /* contect form*/
    #contact-form input, #contact-form textarea {
        width: 278px;
    }
}