#slides {
    width: 100%;
    position: relative;
    padding-top: 2px;
    overflow: hidden;
}

.slides_container {
    width: 934px;
    height: 384px;
    overflow: hidden;
}

.slide {
    width: 934px;
    height: auto;
}

/* Control Nav */
.pagination {
    position: absolute;
    top: 33px;
    left: 25px;
    overflow: hidden;
    z-index: 999;
}

.pagination li {
    float: left;
    font-size: 0px;
    line-height: 0;
    margin-right: 2px;
    text-indent: -5000px;
}

.pagination li a {
    display: block;
    height: 24px;
    width: 24px;
    background: url(../images/pagination.png) right 0 no-repeat;
}

.pagination li.current a, .pagination li a:hover {
    background-position: 0 0;
}

.pagination li.current a {
    cursor: default;
}

@media only screen and (max-width: 995px) {
    #slides, .slides_container, .slide {
        width: 718px;
        height: 295px;
    }

    .pagination {
        top: 22px;
        left: 20px;
    }
}

@media only screen and (max-width: 767px) {
    #slides {
        padding-top: 20px;
        width: 420px;
        height: 173px;
    }

    .slides_container, .slide {
        width: 420px;
        height: 173px;
    }

    .pagination {
        top: 35px;
        left: 15px;
    }
}

@media only screen and (max-width: 479px) {
    #slides, .slides_container, .slide {
        width: 270px;
        height: 111px;
    }

    .pagination li a {
        height: 15px;
        width: 15px;
        background: url(../images/pagination2.png) -16px top;
    }
}