.disabled-combo-field .x-item-disabled * {
    border: none;
    background-image: none;
    color: black !important;
}

.disabled-combo-field .x-item-disabled {
    opacity: 1;
}

.analytics_chart_bar {
    padding-left: 20px;
    background: left no-repeat url(../images/icons/chart_bar.png) !important;
}

.analytics_chart_doughnut_full {
    padding-left: 20px;
    background: left no-repeat url(../images/icons/chart_doughnut_full.png) !important;
}

.analytics_chart_doughnut_half {
    padding-left: 20px;
    background: left no-repeat url(../images/icons/chart_doughnut_half.png) !important;
}

.analytics_chart_pie_full {
    padding-left: 20px;
    background: left no-repeat url(../images/icons/chart_pie_full.png) !important;
}

.analytics_chart_pie_half {
    padding-left: 20px;
    background: left no-repeat url(../images/icons/chart_pie_half.png) !important;
}