[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
init-connect="SET NAMES utf8mb4"
collation_server=utf8mb4_general_ci
character_set_server=utf8mb4
max_allowed_packet=512M
tmp_table_size=64M
max_heap_table_size=64M
innodb_buffer_pool_size=2048M
innodb_file_per_table=1
innodb_strict_mode=0
sql_mode=NO_ENGINE_SUBSTITUTION