#save_form_button, #print_form_button, #add_children_form_button, #remove_child_form_button,
#add_siblings_form_button, #remove_sibling_form_button, #add_parents_form_button, #remove_parent_form_button,
#add_family_members_form_button, #remove_family_member_form_button {
    border-style: none;
    z-index: 2;
    width: 110px;
    height: 29px;
    color: rgb(255,255,255);
    text-align: left;
    margin: 0 5px;
    background-color: rgb(64,64,170);
    background-repeat: no-repeat;
    font: normal 12px Arial, Helvetica, sans-serif;
    cursor: pointer;
}

#add_children_form_button, #remove_child_form_button, #add_siblings_form_button, #remove_sibling_form_button,
#add_parents_form_button, #remove_parent_form_button, #add_family_members_form_button,
#remove_family_member_form_button {
    position: absolute;
    top: 1245px;
}

#save_form_button {
    background-image:  url("../images/pdf/save.png");
}

#print_form_button {
    background-image:  url("../images/pdf/print.png");
}

#add_children_form_button {
    left: 325px;
    background-image:  url("../images/pdf/add_more_children.png");
}

#add_siblings_form_button {
    left: 325px;
    background-image:  url("../images/pdf/add_more_siblings.png");
}

#add_parents_form_button {
    left: 325px;
    background-image:  url("../images/pdf/add_more_parents.png");
}

#add_family_members_form_button {
    left: 325px;
    background-image:  url("../images/pdf/add_more_family_members.png");
}

#remove_child_form_button {
    left: 460px;
    background-image:  url("../images/pdf/remove_child.png");
}

#remove_sibling_form_button {
    left: 460px;
    background-image:  url("../images/pdf/remove_sibling.png");
}

#remove_parent_form_button {
    left: 460px;
    background-image:  url("../images/pdf/remove_parent.png");
}

#remove_family_member_form_button {
    left: 460px;
    background-image:  url("../images/pdf/remove_family_member.png");
}

.hidden {
    position: absolute;
    visibility: hidden;
}

.visible {
    position: relative;
}

/* Component containers
----------------------------------*/
.ui-widget { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1.1em/*{fsDefault}*/; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa/*{borderColorContent}*/; background: #ffffff/*{bgColorContent}*/ url(images/ui-bg_glass_75_ffffff_1x400.png)/*{bgImgUrlContent}*/ 0/*{bgContentXPos}*/ 0/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/; color: #222222/*{fcContent}*/; }
.ui-widget-content a { color: #222222/*{fcContent}*/; }
.ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/ url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 0/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }
.ui-widget-header a { color: #222222/*{fcHeader}*/; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #d3d3d3/*{borderColorDefault}*/; background: #e6e6e6/*{bgColorDefault}*/ url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 0/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #555555/*{fcDefault}*/; outline: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555/*{fcDefault}*/; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*/; background: #dadada/*{bgColorHover}*/ url(images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ 0/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcHover}*/; outline: none; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121/*{fcHover}*/; text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #aaaaaa/*{borderColorActive}*/; background: #ffffff/*{bgColorActive}*/ url(images/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/ 0/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcActive}*/; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121/*{fcActive}*/; outline: none; text-decoration: none; }

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_222222_256x240.png)/*{iconsHeader}*/; }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_888888_256x240.png)/*{iconsDefault}*/; }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_454545_256x240.png)/*{iconsHover}*/; }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_454545_256x240.png)/*{iconsActive}*/; }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_2e83ff_256x240.png)/*{iconsHighlight}*/; }

#ui-datepicker-div {
    z-index: 10000;
}

.ui-datepicker {
    font-size: 14px;
}